.fondoNoticia{
    background-color:rgb(116, 127, 248)!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    min-height: 100vh;
    padding-right: 5rem;
    padding-left: 5rem;
    margin-top:0;
}
h1{
    padding-top: 1.5rem !important;
}